package list

import (
	"dictionary-htmx-demo/cmd/web/tabs"
	"dictionary-htmx-demo/cmd/web"
)

templ ListPage() {
  @web.Base(){
    @List()
  }
}

templ List() {
  @tabs.Tabs("/list") { 
    list content    
  }
}
